html,body{
    background-color: rgb(50, 42, 42);
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.button-border{
    background: linear-gradient(115deg,#eeaf61,#fb9062,#ee5d6c,#ce4993,#6a0d83);
    padding: 2px;
}
.button{
    border: none;
    background: rgb(50, 42, 42);
    color: white;
    padding: 1em 1.5em;
    letter-spacing: 0.1em;
}
.button-border:hover{
    background: linear-gradient(230deg,#eeaf61,#fb9062,#ee5d6c,#ce4993,#6a0d83);
}
.button-border:hover .button{
    padding: 1.1em 1.6em;
}
.search-bar-container{
    display: flex;
    justify-content: center;
}
.search-bar{
    width: 30%; 
    line-height: 2;
    border-radius: 4px;
    border: 3.5px solid black;
    transition: all 0.3s;
}
.search-bar:focus{
    width: 60%;
    border: 3.5px solid aquamarine;
    outline: none;
}
.search-bar:hover{
    border: 3.5px solid aquamarine;
}
.search-bar::placeholder{
    font-weight: 200;
}
.loading-container{
    position: absolute;
    display: flex;
    top: 70%;
    left: 45%;
    justify-content: center;
    align-items: center;
}
.circle{
    height: 1.5rem;
    width: 1.5rem;
    background: white;
    margin: 0.5rem;
    border-radius: 50%;
    animation: pulse infinite alternate 1s;
}
@keyframes pulse {
    from{
        background: white;
    }
    to{
        background: gray;
        height: 1.6em;
        width: 1.6em;
    }
}
.word{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: start;
    top: 40%;
    left: 40%;
    color: whitesmoke;
}
h1:after{
    content: "";
    animation: 8s swap infinite;
    background: #04c2f7;
    color: white;
    border-radius: 4px;
    margin-left: 4px;
    padding: 0.3rem;
}
@keyframes swap {
    0%{
        content: "CSS";
    }
    25%{
        content: "JS";
    }
    50%{
        content: "Flexbox";
    }
    75%{
        content: "HTML";
    }
    100%{
        content: "website";
    }
}
.flash-card{
    position: absolute;
    top: 20%;
    left: 5%;
    height: 200px;
    width: 350px;
    display: flex;
    justify-content: center;
    text-align: center;
    color: #04c2f7;
    transition: transform 4s;
    transform-style: preserve-3d;
}
.card-front{
    height: inherit;
    width: inherit;
    border-radius: 10px;
}
.card-back{
    display: none;
}
.flash-card:hover{
    transform: rotateY(180deg);
}
.flash-card:hover .card-front{
    display: none;
} 
.flash-card:hover .card-back{
    display: block;
    transform: rotateY(180deg);
} 